* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #061e29;
  color: #f3f4f4;
  font-size: 20px;
}

header {
  /* margin-top: 20px; */
  display: flex;
  /* position: relative; */
  justify-content: center;
  height: 15rem;
  width: 100%;
  background-color: #5f9598;
}
header nav ul {
  margin-bottom: 30px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  list-style-type: none;
  /* background-color: #1D546D; */
  width: max-content;
}
header nav ul li button {
  font-size: 25px;
  background-color: #5f9598;
  color: #f3f4f4;
  border: 2px solid transparent;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  padding: 0px;
}
header nav ul li button a {
  color: #f3f4f4;
  text-decoration: none;
}
button:hover {
  background-color: #f3f4f4;
  color: #061e29;
}

header h1 {
  margin-top: 2rem;

  font-family: "Mountains of Christmas", serif;
  font-size: 8rem;
  position: absolute;
}
header h2 {
  margin-top: 1.5em;
  position: absolute;
  top: 10rem;
}
/* header img {
  position: absolute;
  top: 1.5rem;
  left: 75rem;
  height: 125px;
  width: 125px;
} */

.outer-box {
  display: flex;
  /* position: relative; */
  /* top: 20rem; */
  margin-top: 15rem;
  justify-content: space-evenly;
  height: 500px;
  width: 100%;
  /* gap: 20px; */
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5f9598;
  height: 530px;
  width: 30%;
  /* border: 3px solid #f3f4f4; */
  outline: 3px solid #f3f4f4;
  border-radius: 20px;
}
.box-image {
  width: 400px;
  height: 300px;
  border-radius: 20px;
}
.box h2 {
  margin: 10px 0px;
  font-size: 40px;
  font-family: "Mountains of Christmas", serif;
}

.box p {
  margin: 10px 0px;
  display: inline-block;
  width: 70%;
  font-size: 24px;
}

#register {
  margin-top: 5rem;
  background-color: #5f9598;

  margin-left: 2rem;
  position: absolute;
  top: 70rem;
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
input {
  margin-bottom: 1rem;
  height: 30px;
  font-size: 22px;
  width: 50%;
  margin-left: 10px;
  border-radius: 10px;
}
select {
  margin-bottom: 1rem;
  height: 30px;
  font-size: 22px;
  width: 30%;
}

.btn {
  font-size: 25px;
  background-color: #5f9598;
  color: #f3f4f4;
  border: 2px solid transparent;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  padding: 0px;
  margin-left: 25%;
  
  
}
.btn:hover {
  background-color: #f3f4f4;
  color: #061e29;
}

.check {
  margin-right: 0;
  width: 20px;
}
.radio
{
  margin-right: 0;
  width: 20px;

}
